BODY {
	FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif, ו
}
P {
	FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif, ו
}
TD {
	FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif, ו;
}

.bg {
	BACKGROUND-COLOR: #70a3d6
}
.bg_2 {
	BACKGROUND-COLOR: #ffffff
}
.tables {
	BORDER-RIGHT: 1px; BORDER-TOP: 1px; BORDER-LEFT: 1px; BORDER-BOTTOM: 1px; BACKGROUND-COLOR: #d7d7d7
}
.table {
	BORDER-RIGHT: 1px; BORDER-TOP: 1px; BORDER-LEFT: 1px; WIDTH: 98%; BORDER-BOTTOM: 1px; BACKGROUND-COLOR: #d7d7d7
}
.table0 {
	BORDER-RIGHT: 1px; BORDER-TOP: 1px; BORDER-LEFT: 1px; WIDTH: 100%; BORDER-BOTTOM: 1px; BACKGROUND-COLOR: #d7d7d7
}
.table1 {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; WIDTH: 300; BORDER-BOTTOM: 0px; BACKGROUND-COLOR: #d7d7d7
}
.table2 {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; WIDTH: 85%; BORDER-BOTTOM: 0px
}
.table3 {
	WIDTH: 98%
}
.m_table {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; WIDTH: 120px; BORDER-BOTTOM: 0px; BACKGROUND-COLOR: #ffffff
}
.m_table2 {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; WIDTH: 75%; BORDER-BOTTOM: 0px
}
.m_td {
	FONT-WEIGHT: bold; CURSOR: hand; COLOR: #ffffff; HEIGHT: 25px; BACKGROUND-COLOR: #70a3d6
}
.m_tr {
	
}
.m_end {
	BACKGROUND-COLOR: #70a3d6
}
.tr_bg {
	HEIGHT: 20px; BACKGROUND-COLOR: #70a3d6
}
.tr {
	HEIGHT: 20px; BACKGROUND-COLOR: #ffffff
}
.tr0 {
	BACKGROUND-COLOR: #70a3d6
}
.tr1 {
	BACKGROUND-COLOR: #ece9d8
}
.trb {
	HEIGHT: 40px; BACKGROUND-COLOR: #f2fafc
}
.tr2 {
	HEIGHT: 20px; BACKGROUND-COLOR: #f2fafc
}
.tr3 {
	HEIGHT: 20px; BACKGROUND-COLOR: #ededed
}
.td {
	FONT-WEIGHT: bold; COLOR: #ffffff; HEIGHT: 24px; BACKGROUND-COLOR: #336699
}
.div_alt {
	BORDER-RIGHT: black 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: black 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; MARGIN-LEFT: 18px; BORDER-LEFT: black 1px solid; WIDTH: 240px; COLOR: #000000; PADDING-TOP: 2px; BORDER-BOTTOM: black 1px solid; BACKGROUND-COLOR: #ffffe1
}
.tims {
	FONT-SIZE: 7pt; COLOR: #808080
}
.htd {
	LINE-HEIGHT: 180%
}
.red {
	COLOR: #ff3300
}
.red2 {
	COLOR: #cc3300
}
.read {
	COLOR: #3131ce
}
.blue {
	COLOR: #0066cc
}
.gray {
	COLOR: #808080
}
A {
	COLOR: #000000; TEXT-DECORATION: none
}
A:hover {
	COLOR: #ff3300; TEXT-DECORATION: underline
}
