
.page {

    overflow-y: auto;
    z-index: 1;
}

.page__hd {
    padding: 5px;
}

.page__title {
    font-size: 20px;
    font-weight: 400;
    text-align: left;
}
.page__desc {
    color: #888;
    font-size: 14px;
    margin-top: 5px;
    text-align: left;
}

 .page__bd {
    padding: 0 0px;
}
.weui-form-preview {
    background-color: #ffffff;
    position: relative;
}
.weui-form-preview::before {
    border-top: 1px solid #d9d9d9;
    color: #d9d9d9;
    content: " ";
    height: 1px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: scaleY(0.5);
    transform-origin: 0 0 0;
}
.weui-form-preview::after {
    border-bottom: 1px solid #d9d9d9;
    bottom: 0;
    color: #d9d9d9;
    content: " ";
    height: 1px;
    left: 0;
    position: absolute;
    right: 0;
    transform: scaleY(0.5);
    transform-origin: 0 100% 0;
}
.weui-form-preview__hd {
    line-height: 2.5em;
    padding: 10px 15px;
    position: relative;
    text-align: right;
}
.weui-form-preview__hd::after {
    border-bottom: 1px solid #d9d9d9;
    bottom: 0;
    color: #d9d9d9;
    content: " ";
    height: 1px;
    left: 0px;
    position: absolute;
    right: 0;
    transform: scaleY(0.5);
    transform-origin: 0 100% 0;
}
.weui-form-preview__hd .weui-form-preview__value {
    font-size: 0.9em;
    font-style: normal;
}
.weui-form-preview__bd {
    color: #999999;
    font-size: 0.9em;
    line-height: 2;
    padding: 10px 15px;
    text-align: left;
}
.weui-form-preview__ft {
    display: flex;
    line-height: 50px;
    position: relative;
}
.weui-form-preview__ft::after {
    border-top: 1px solid #d5d5d6;
    color: #d5d5d6;
    content: " ";
    height: 1px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: scaleY(0.5);
    transform-origin: 0 0 0;
}
.weui-form-preview__item {
    overflow: hidden;
}
.weui-form-preview__label {
    color: #999999;
    float: left;
    margin-right: 1em;
    min-width: 2em;
    text-align: justify;
    text-align-last: justify;
}
.weui-form-preview__value {
    display: block;
    overflow: hidden;
    overflow-wrap: break-word;
    word-break: normal;
}
.weui-form-preview__btn {
    -moz-box-flex: 1;
    color: #3cc51f;
    display: block;
    flex: 1 1 0;
    position: relative;
    text-align: center;
}
button.weui-form-preview__btn {
    background-color: transparent;
    border: 0 none;
    font-size: inherit;
    line-height: inherit;
    outline: 0 none;
}
.weui-form-preview__btn:active {
    background-color: #eeeeee;
}
.weui-form-preview__btn::after {
    border-left: 1px solid #d5d5d6;
    bottom: 0;
    color: #d5d5d6;
    content: " ";
    left: 0;
    position: absolute;
    top: 0;
    transform: scaleX(0.5);
    transform-origin: 0 0 0;
    width: 1px;
}
.weui-form-preview__btn:first-child::after {
    display: none;
}
.weui-form-preview__btn_default {
    color: #999999;
}
.weui-form-preview__btn_primary {
    color: #0bb20c;
}

.weui_btn_primary {
  background-color: #04BE02;
}

.weui_btn {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-left: 14px;
  padding-right: 14px;
  box-sizing: border-box;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  color: #FFFFFF;
  line-height: 2.33333333;
  border-radius: 5px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  overflow: hidden;
}