<?xml version="1.0" encoding="UTF-8"?>

<!-- $Id: menu.xml 11417 2008-03-18 10:43:51Z wzou sendNote$ -->
<MenuConfig>
	<Menus>
	    <Menu name="taskManager" title="任务管理">
			<Item name="toDoTask" title="待办任务"
				location="toDoTask/listToDoTask.html">
			</Item>
	 		<Item name="historyTask" title="历史任务"
				location="historyTask/listHistoryTask.html">
			</Item>
		</Menu>
		<!--1-->
		<Menu name="BaseInformationManager" title="基础信息管理">
			<Item name="areaREAD" title="区域管理" location="areaManager/cascadeFrameREAD.html"/>
			<Item name="areaWRITE" title="区域管理" location="areaManager/cascadeFrameWRITE.html"/>
			<Item title="组织机构" location="orgstructure/orgStructureFrameREAD.html"/>
			<Item title="组织机构" location="orgstructure/orgStructureFrameWRITE.html"/>
			<Item name="jobsREAD" title="职务管理"
				location="jobs/listREAD.html">
			</Item>
			<Item name="jobsWRITE" title="职务管理"
				location="jobs/listWRITE.html">
			</Item>
			<Item name="dutyREAD" title="职位管理"
				location="duty/dutyManagerREAD.html">
			</Item>
			<Item name="dutyWRITE" title="职位管理"
				location="duty/dutyManagerWRITE.html">
			</Item>
			<Item name="supplier_READ" title="供应商管理" location="supplierManager/listSupplierREAD.html"/>
			<Item name="supplier_WRITE" title="供应商管理" location="supplierManager/listSupplierWRITE.html"/>
			<Item name="product" title="产品管理">
				<Item  name="product_1_READ" title="产品类别" location="productTypeManager/listProductTypeREAD.html"/>
				<Item  name="product_1_WRITE" title="产品类别" location="productTypeManager/listProductTypeWRITE.html"/>
				<Item  name="product_2_READ" title="产品" location="productsManager/listProductsREAD.html"/>
				<Item  name="product_2_WRITE" title="产品" location="productsManager/listProductsWRITE.html"/>
			</Item>
			<Item name="codeREAD" title="码表管理" location="codevalue/listCodeValueREAD.html"/>
			<Item name="codeWRITE" title="码表管理" location="codevalue/listCodeValueWRITE.html"/>
		</Menu>
		<!--2--><!--  
		<Menu name="Market" title="营销管理">
			<Item name="target" title="目标管理">
				<Item name="companyTarget" title="公司目标" location="companyTarget/listCompanyTargetAction.html"></Item>
				<Item name="departmentTarget" title="部门目标" location="departmentTarget/listDepartmentTargetAction.html"></Item>
				<Item name="personnalTarget" title="个人目标" location="individualTarget/listIndividualTargetAction.html"></Item>
			</Item>
			<Item name="market_2" title="市场活动管理">
				<Item name="active" title="市场活动" location="activity/listActivity.html"/>
				<Item name="survey" title="市场调查" location="survey/listSurvey.html"></Item>
				<Item name="planning" title="市场计划" location="plan/listPlan.html"></Item>
			</Item>
			<Item name="intelligence" title="市场情报管理" location="intelligence/listIntelligence.html"/>
			<Item name="competitor" title="竞争对手管理" location="competitor/listCompetitor.html"/>
		</Menu>	-->
		<!--3-->
		<Menu name="Crm" title="客户管理"><!--
			<Item name="crm_3" title="咨询登记" location="advisoryManager/listAdvisory.html">
			</Item>
			<Item name="crm_1" title="客户档案" location="customerRelationship/listCustomerInfo.html">
			</Item>
			<Item name="crm_2" title="联系人档案" location="customerRelationship/listContactArchives.html">
			</Item>
			<Item name="crm_4" title="回访登记" location="backvisit/listBackVisit.html">
			</Item>-->
			
			<Item name="crm_3READ" title="咨询登记"
				location="advisoryManager/listAdvisoryREAD.html">
			</Item>
			<Item name="crm_3WRITE" title="咨询登记"
				location="advisoryManager/listAdvisoryWRITE.html">
			</Item>
			<Item name="crm_1READ" title="客户档案"
				location="customerRelationship/listCustomerInfoREAD.html">
			</Item>
			<Item name="crm_1WRITE" title="客户档案"
				location="customerRelationship/listCustomerInfoWRITE.html">
			</Item>
			<Item name="crm_2READ" title="联系人档案"
				location="customerRelationship/listContactArchivesREAD.html">
			</Item>
			<Item name="crm_2WRITE" title="联系人档案"
				location="customerRelationship/listContactArchivesWRITE.html">
			</Item>
			<Item name="crm_2READ" title="回访登记"
				location="backvisit/listBackVisitREAD.html">
			</Item>
			<Item name="crm_2WRITE" title="回访登记"
				location="backvisit/listBackVisitWRITE.html">
			</Item>
		</Menu> 
		<Menu name="project" title="项目管理">
			
			<Item name="project_3READ" title="项目管理"
				location="projectInfo/listProjectInfo.html">
			</Item>
			<!-- 
			<Item name="project_3WRITE" title="项目管理"
				location="projectInfo/listProjectWRITE.html">
			</Item>
			 -->
		</Menu> 
		<!--4-->
		<Menu name="SigningManagement" title="签单管理">
<!--			<Item name="crm_order" title="客户订单管理">-->
<!--				<Item name="requirement" title="客户需求" location="com/listVoc.html"/>-->
<!--				<Item name="order" title="客户订单" location="com/listCo.html"/>-->
<!--				<Item name="agreement" title="客户合同" location="com/listContractCustomer.html"/>-->
<!--				<Item name="remittance" title="汇款管理" location="com/listRemit.html">-->
<!--				</Item>-->
<!--				<Item name="refund" title="退货管理" location="com/listRejection.html"/> -->
<!--			</Item>-->
<!--			<Item name="customercontract" title="客户合同">--><!--
				<Item name="contractManagement" title="合同管理"
					location="contractManagement/listContractManagementAction.html">
				</Item>
				<Item name="returnPlan" title="收款计划"
					location="contractManagement/listReturnPlan.html">
				</Item>
				<Item name="receivedPayments" title="收款计划"
					location="contractManagement/listReceivedPayments.html">
				</Item>
				<Item name="billingRecord" title="开票记录"
					location="contractManagement/listBillingRecord.html">
				</Item>
				
				--><Item name="contractManagementREAD" title="合同管理"
				location="contractManagement/listContractManagementActionREAD.html">
			</Item>
			<Item name="contractManagementWRITE" title="合同管理"
				location="contractManagement/listContractManagementActionWRITE.html">
			</Item>
<!--
			<Item name="receivedPaymentsREAD" title="收款计划"
				location="contractManagement/listReceivedPaymentsREAD.html">
			</Item>
			<Item name="receivedPaymentsWRITE" title="收款计划"
				location="contractManagement/listReceivedPaymentsWRITE.html">
			</Item>
-->
<!-- 	
			<Item name="returnPlanREAD" title="收款计划"
				location="contractManagement/listReturnPlanREAD.html">
			</Item>
			<Item name="returnPlanWRITE" title="收款计划"
				location="contractManagement/listReturnPlanWRITE.html">
			</Item>
-->
		</Menu>
		
		<!--5-->
		<Menu name="CrmService" title="客户服务">
		<!--  
			<Item name="cservice" title="客户服务" location="customerService/listCustomerServiceAction.html"/>
			<Item name="complain" title="客户投诉" location="customerComplaint/listCustomerComplaintAction.html"/>
			<Item name="questionAndAnswer" title="QA库" location="qaStorage/listQaStorageAction.html"/>
		-->
		</Menu>
		<!--6-->
		<Menu name="PersonnelFilesManager" title="人事管理">
<!--			<Item name="baseInfo" title="薪酬标准"-->
<!--				location="salaryStandard/listSalaryStandardAction.html">-->
<!--			</Item>-->
			
			<Item name="baseInfo" title="人事档案管理"
				location="personnelFile/listPersonREAD.html">
			</Item>
			
			<Item name="baseInfo" title="人事档案管理"
				location="personnelFile/listPersonWRITE.html">
			</Item>
<!--			<Item name="personnelCasting" title="转正管理" location="personnelCasting/listPersonnelCastingAction.html"></Item>-->
<!--			<Item name="contractAdministrator" title="离职管理"-->
<!--				location="personnelFile/listLeveaPerson.html">-->
<!--			</Item>-->
			<!--  <Item name="contractAdministrator" title="员工合同管理"
				location="personnelFile/listContractAdministrator.html">
			</Item>-->
			
			<Item name="contractAdministrator" title="员工合同管理"
				location="personnelFile/listContAdminREAD.html">
			</Item>
			<Item name="contractAdministrator" title="员工合同管理"
				location="personnelFile/listContAdminWRITE.html">
			</Item>
<!--			<Item name="salaryManager" title="薪酬管理">-->
<!--				<Item name="salaryItems" title="薪酬项目管理"-->
<!--					location="salaryItems/listSalaryItems.html">-->
<!--				</Item>-->
<!--				<Item name="salaryset" title="人员薪酬设置"-->
<!--					location="salarySet/listSalarySet.html">-->
<!--				</Item>-->
<!--			</Item>-->
			
			<Item name="attendance" title="考勤"><!--
				<Item name="theRoadBill" title="公出单"   location="onTheRoadBill/listOnTheRoadBill.html" />
				<Item name="overTimeBill" title="加班单"   location="overTimeBill/listOverTimeBill.html" />
				<Item name="leaveBill" title="调休/请假单"   location="leaveBill/listLeaveBill.html" />	
				
			--><Item name="theRoadBillREAD" title="公出单"
				location="onTheRoadBill/listOnTheRoadBillREAD.html">
			</Item>
			<Item name="theRoadBillWRITE" title="公出单"
				location="onTheRoadBill/listOnTheRoadBillWRITE.html">
			</Item>
			<Item name="overTimeBillREAD" title="加班单"
				location="overTimeBill/listOverTimeBillREAD.html">
			</Item>
			<Item name="overTimeBillWRITE" title="加班单"
				location="overTimeBill/listOverTimeBillWRITE.html">
			</Item>
			<Item name="leaveBillREAD" title="调休/请假单"
				location="leaveBill/listLeaveBillREAD.html">
			</Item>
			<Item name="leaveBillWRITE" title="调休/请假单"
				location="leaveBill/listLeaveBillWRITE.html">
			</Item>	
			<!--  
			<Item name="workingCycle" title="工作周期"
				location="workingCycle/editWorkingCycle.html">
			</Item> -->
			</Item>
<!--			<Item name="baseInfo" title="报修管理"-->
<!--				location="repairs/listRepairsAction.html">-->
<!--			</Item>-->
		</Menu>
		<Menu name="FinancialManagement" title="财务管理">
			<Item name="billingRecordREAD" title="开票记录"
				location="contractManagement/listBillingRecordREAD.html">
			</Item>
			<Item name="billingRecordWRITE" title="开票记录"
				location="contractManagement/listBillingRecordWRITE.html">
			</Item>
			<Item name="financialManagementREAD" title="收款单"
				location="financialManagement/listFinancialManagementREAD.html">
			</Item>
			<Item name="financialManagementWRITE" title="收款单"
				location="financialManagement/listFinancialManagementWRITE.html">
			</Item>
			<Item name="paymentorderREAD" title="付款单"
				location="paymentorder/listPaymentorderActionREAD.html" />
			<Item name="paymentorderWRITE" title="付款单"
				location="paymentorder/listPaymentorderActionWRITE.html" />
			
			<!-- 
			<Item name="expenseapplyREAD" title="费用申请"
				location="expenseApply/listExpenseApplyActionREAD.html" />
			<Item name="expenseapplyWRITE" title="费用申请"
				location="expenseApply/listExpenseApplyActionWRITE.html" />
			<Item name="expenseUseREAD" title="费用使用"
				location="expenseUse/listExpenseUseActionREAD.html" />
			<Item name="expenseUseWRITE" title="费用使用"
				location="expenseUse/listExpenseUseActionWRITE.html" />
			<Item name="expenseFormREAD" title="报销单"
				location="expenseUse/listExpenseFormActionREAD.html" />
			 -->
			<Item name="expenseFormWRITE" title="报销单"
				location="expenseForm/listExpenseFormActionWRITE.html" />
		</Menu>
		<!-- 7-->
		<!--  
		<Menu name="FinancialManagement" title="财务管理">
		</Menu>
		-->
		<!--8-->
		<Menu name="Office" title="日常办公">
			<Item name="do" title="我的提醒"
				location="workspace/warnning/myWarnning/listWorkWarnnings.html" />
			<Item name="plan" title="我的任务"
				location="projectInfo/listMyPlan.html" />
			<Item name="myData" title="我的数据"
				location="workspace/data/listMyData.html" />
		    <Item name="notice" title="内部邮件">
				<Item name="doREAD" title="发件箱" location="notice/listNotice_READ.html" />
				<Item name="doWRITE" title="发件箱" location="notice/listNotice_WRITE.html" />
				<Item name="" title="收件箱"   location="notice/listReceviceNotices.html" />
				<Item name="" title="通讯组"   location="communication/groups/listGroups.html" />
		    </Item>
			<Item name="workArrange" title="工作安排">
				<Item name="weeklyREAD" title="周计划管理"
					location="workReport/listWeeklyREAD.html">
				</Item>
				<Item name="weeklyWRITE" title="周计划管理"
					location="workReport/listWeeklyWRITE.html">
				</Item>
				<Item name="dailyREAD" title="日报管理"
					location="workReport/listDailyREAD.html">
				</Item>
			</Item>
		</Menu>
		<!--9-->
		<!-- 
		<Menu name="LeadingDecisionSupport" title="领导决策支持">
			<Item name="report" title="报表分析">
				<Item name="customer_contact" title="客户联系报表" 
						location="custContactReport/listCustContactReport.html"/>	
			</Item>
		</Menu>
		 -->
		<!--10-->
		<!-- 系统管理 -->
		<Menu name="System" title="system">
			<Item name="orgREAD" title="组织管理"
				location="organizationOperate/listOrgREAD.html">
			</Item>
			<Item name="orgWRITE" title="组织管理"
				location="organizationOperate/listOrgWRITE.html">
			</Item>
			<Item name="workflow" title="工作流管理">
				<Item name="flowManage" title="流程管理" 
				      location="flow/listFlow_READ.html">
				</Item>
				<Item name="flowManage" title="流程管理" 
				      location="flow/listFlow_WRITE.html">
				</Item>
				
				<Item name="workflowManage" title="工作流管理" 
				      location="workflow/listWorkflow_READ.html">
				</Item>
				<Item name="workflowManage" title="工作流管理" 
				      location="workflow/listWorkflow_WRITE.html">
				</Item>
			</Item>
			<Item name="remindManagerREAD" title="提醒管理"
				location="remind/listRemind_READ.html">
			</Item>
			<Item name="remindManagerWRITE" title="提醒管理"
				location="remind/listRemind_WRITE.html">
			</Item>
			<Item name="Security" title="security">
				<Item name="User" title="security.user" location="security/listUsers.html" />
				<Item name="Group" title="security.group" location="security/listGroups.html" />
				<Item name="Role" title="security.role" location="security/listRoles.html" />
			</Item>
			<Item name="help" title="system.share.help" location="base/manual/listManuals.html" />
		</Menu>
	</Menus>
</MenuConfig>
