.grtbg {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-SIZE: 12px; MARGIN-BOTTOM: -3px; COLOR: menutext; FONT-FAMILY: tahoma; HEIGHT: 10px
}
.root {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; LEFT: 0px; LINE-HEIGHT: normal; FONT-STYLE: normal; POSITION: relative; TOP: 0px; FONT-VARIANT: normal
}
.rootHighlight {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; LEFT: 0px; LINE-HEIGHT: normal; FONT-STYLE: normal; POSITION: relative; TOP: 0px; FONT-VARIANT: normal
}
.rootActive {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; LEFT: 0px; LINE-HEIGHT: normal; FONT-STYLE: normal; POSITION: relative; TOP: 0px; FONT-VARIANT: normal
}
.coolButton {
	BORDER-RIGHT: #edebe9 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #edebe9 1px solid; PADDING-LEFT: 2px; FONT-SIZE: 13px; PADDING-BOTTOM: 2px; MARGIN: 5px; BEHAVIOR: url('../../css/coolbutton.htc'); VERTICAL-ALIGN: bottom; BORDER-LEFT: #edebe9 1px solid; CURSOR: pointer; PADDING-TOP: 2px; BORDER-BOTTOM: #edebe9 1px solid; LETTER-SPACING: 1px; HEIGHT: 20px
}
.coolButton IMG {
	MARGIN-RIGHT: 5px
}
.coolBar {
	BORDER-RIGHT: buttonshadow 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: buttonhighlight 1px solid; PADDING-LEFT: 1px; BACKGROUND: buttonface; PADDING-BOTTOM: 1px; BORDER-LEFT: buttonhighlight 1px solid; WIDTH: 1px; PADDING-TOP: 1px; BORDER-BOTTOM: buttonshadow 1px solid; HEIGHT: 1px
}
TABLE .coolButton {
	WIDTH: 100%
}
.thisroot {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; FONT: menu; BORDER-LEFT: 0px; LINE-HEIGHT: 11px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px
}
IMG.click {
	CURSOR: pointer;
}
.treesubitem {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #000000; PADDING-TOP: 0px
}
