*{padding:0px; margin:0px;}
body{font-size:12px; font-family:"宋体"; color:#666; background:url(/public/images/register/z03.jpg) repeat-x #d7eefd; line-height:22px;}
span,li,dt,dd{display:block;}

#top{width:920px; margin:0 auto; background:url(/public/images/register/z02.jpg) no-repeat; height:82px; color:#FFFFFF;}
#top a{color:#FFFFFF;}
#center{width:740px; padding:25px; margin: 0 auto;}
#list_top,#list_bottom{width:740px; position:relative; }
#list{width:698px; padding:20px; overflow:hidden; border:#8bb8d5 1px solid; border-top:none; border-bottom:none; background-color:#fff; clear:both;}

#list01,#list02,#list03,#list04{width:698px; float:left; padding-bottom:10px; overflow:hidden;}
#list01 h3,#list02 h3,#list03 h3,#list04 h3{width:668px; float:left; display:block; font-size:14px; color:#026aac; border-bottom:#8bb8d5 1px solid; padding-bottom:0px; padding-left:30px; margin-bottom:20px;}
#list01 ul,#list02 ul,#list03 ul,#list04 ul{list-style:none;}
#list01 li,#list02 li,#list03 li,#list04 li{width:668px; float:left; padding-bottom:8px;}
#list01 li dt,#list02 li dt,#list03 li dt,#list04 li dt{padding-left:44px; float:left; line-height:24px; color:#000000; padding-right:5px; width:60px;}
#list01 li dd,#list02 li dd,#list03 li dd,#list04 li dd{float:left;}

.one{width:200px; height:17px; line-height:15px; border:#c7d9f3 1px solid; color:#666666; background:url(/public/images/register/z06.jpg) no-repeat 13px center #f3faff; padding-left:35px; margin-top:0px;*margin-top:1px; padding-top:5px;}
.two{width:200px; height:17px; line-height:15px; border:#fee2aa 1px solid; color:#666666; background:url(/public/images/register/z05.jpg) no-repeat 13px center #fff9ed; padding-left:35px; margin-top:0px;*margin-top:1px; padding-top:5px;}
.show{width:230px; height:17px; line-height:15px; border:#e1e1e1 1px solid; background-color:#eeeeee; color:#666666; padding-left:8px; margin-top:0px;*margin-top:1px; padding-top:5px;}


/*
.one{width:200px; height:17px; line-height:15px; border:#e1e1e1 1px solid; color:#666666; background:url(/public/images/register/z05.jpg) no-repeat 13px center #fafafa; padding-left:35px; margin-top:0px;*margin-top:1px; padding-top:5px;}
.three{width:200px; height:17px; line-height:15px; border:#fee2aa 1px solid; color:#666666; background:url(/public/images/register/z07.jpg) no-repeat 13px center #fff9ed; padding-left:35px; margin-top:0px;*margin-top:1px; padding-top:5px;}
.four{width:200px; height:17px; line-height:15px; border:#bbe6a1 1px solid; color:#666666; background:url(/public/images/register/z08.jpg) no-repeat 13px center #f0fbeb;; padding-left:35px; margin-top:0px;*margin-top:1px; padding-top:5px;}
*/

#foot{width:1003px; margin:0 auto; background:url(/public/images/register/z20.jpg) no-repeat; padding-top:35px; text-align:center; color:#04719b; height:100px;}


/*链接样式*/
a:link { text-decoration:none;}
a:hover { text-decoration:underline;}