@charset "utf-8";
/* CSS Document */

/*伸缩导航*/
div.sdmenu {width:210px;font-size:13px;padding:0 20px;}
div.sdmenu div {background: url(../images/title_hover.gif) no-repeat #e9f6ff;overflow: hidden;margin-bottom:1px; color:#fff; }
div.sdmenu div.collapsed {height: 30px; line-height:30px;background:#55c3eb; color:#FFFFFF;}
div.sdmenu div span {display:block;font-weight:normal;color:#fff;cursor:pointer;line-height:30px; background: url(../images/expanded.gif) no-repeat 25px center; padding-left:45px;}
div.sdmenu div.collapsed span { background:url(../images/collapsed.gif) no-repeat 25px center; color:#fff; font-size:14px;}
div.sdmenu div a {background:url(../images/icon_01.gif) no-repeat 30px center; padding-left:40px;display:block;color:#666; line-height:26px;text-decoration:none;}
div.sdmenu div a.current { color:#00a2d8; font-weight:bold;}
div.sdmenu div a:hover {color:#00a2d8;text-decoration:none;}