<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ahctx.reward.mapper.CmsImgmapContentsMapper">

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
		 id, title, previewImage, description, newsID, createUser, createTime, modifyUser, modifyTime, version, deleteFlag
	</sql>

</mapper>