/* $Id: valuelist.css 6147 2007-07-31 01:41:06Z qsun $ */

table.defaultLook tr.defaultLook0   {color: #222222; background-color: #FFFFFF; }
table.defaultLook tr.defaultLook1   {color: #222222; background-color: #F0F0F0; }

table.defaultLook tr.selected1 {color: #FFFFFF; background-color: #DDDDDD; }

table.defaultLook    {width: 100%;border: 1px solid #ccc; border-collapse: collapse;}
table.defaultLook td {border: 1px solid #ccc; text-align: center;}
table.defaultLook th {border: 1px solid #ccc; text-align: center;background-color: #DDDDDD;}

table.filters    {border: 0px; border-collapse: collapse;}
table.filters td {border: 0px; text-align: center;}
table.filters th {border: 0px; text-align: center; font-weight: bold;}

