*{margin:0;  padding:0;}
body{font-family:"瀹嬩綋"; font-size:12px; color:#666; line-height:22px;}

#notice{width:750px; background-color:#fff9e3; float:left; padding:15px;margin-left:5px;}
.notice01{width:750px; color:#743e04; float:left; font-size:14px; font-weight:bold; padding-bottom:5px;}
.notice02{width:750px; color:#000; float:left; padding-left:10px; font-weight:bold;}
.notice03{width:750px; color:#000; float:left; padding-left:15px; }
.notice03 img{display:inline;} 

#docfixBtn{text-align:center; width:750px; float:left; padding-top:10px;margin-left:5px;}

#tx_word{background-color:#FFFFFF;width:750px; float:left; border:#E7E7E7 1px solid; padding-bottom:15px; margin-top:10px;}
#tx_word h3{width:740px; background:url(/public/images/photo/a08.jpg) repeat-x; height:39px; line-height:39px; font-size:14px; color:#000000; padding-left:10px;}
#tx_word ul{ width:740px; float:left; background-color:#fff; padding:10px 18px 10px 18px;}
.tx01{float:left;}
.tx02{float:right; padding-right:20px; font-size:12px; font-weight:normal; padding-top:12px; line-height:15px;}
#docListWrap{width:720px; float:left; margin:0 15px;_margin:0 8px; padding:10px 0px; border-bottom:#E7E7E7 1px solid;}
#doc_title_name{width:720px; float:left; padding-bottom:10px;}
#doc_sort_name{float:left; font-size:14px; font-weight:bold; background:url(/public/images/photo/z02.gif) no-repeat left 1px; padding-left:20px;}
#showOrHide{float:right;}

#toFixDoc{width:720px; float:left;}
#toFixDoc dl{width:520px; float:left; padding-bottom:8px;}
#toFixDoc dt{width:120px; float:left; text-align:right; font-weight:bold; line-height:30px;}
#toFixDoc dd{width:400px; float:right;}

.jd1{
width:100%; 
padding:5px; 
font-size:12px; 
font-family:Arial, Helvetica, sans-serif;
}
.jd2{
margin-top:4px;
width:55%; 
height:10px; 
border:1px solid #006666;
float:left; 
margin-right:5px;
}
.jd3{
float:left;
width:0%; 
height:100%; 
background:#00CCCC;
}
.jd4{
float:left;
}
